<header class="header">
  <div class="container">
    <div class="logo">
      <h1>SLee Dw</h1>
    </div>
    <form>
      <input type="search" placeholder="Search..." style="border: 1px solid rgb(145, 132, 132);margin-right: 140px;" > 
    </form>
  
    <nav class="menu">
      <a href="#"> Marcas
        <div class="submenu">
          <a href="#">Marca 1</a>
          <a href="#">Marca 2</a>
          <a href="#">Marca 3</a>
        </div>
      </a>
      <a href="#">Productos
        <div class="submenu">
          <a href="#">Marca A</a>
          <a href="#">Marca B</a>
        </div>
      </a>
      <a href="#">Blog</a>
      <a href="#"><i class="bi bi-cart4"></i></a>
      <a href="#"  routerLink="/login"><i class="bi bi-person-circle"></i></a>
    </nav>
  </div>
</header>
