.header {
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  line-height: normal;
  font-size: 23px;
  transition: all 0.3s ease;
  border-bottom: 4px solid transparent;
  position: relative;
  font-weight: 500;
}

.menu a:hover {
  color: #40de32;
  border-bottom: 4px solid #40de32;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 0;
  z-index: 100;
}

.menu a:hover .submenu {
  display: block;
}

.submenu a {
  display: block;
  padding: 10px 20px;
  color: #000;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.submenu a:hover {
  background: #f0f0f0;
  color: #40de32;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.user-menu-container {
  position: relative;
}

.user-submenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.user-submenu a {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.user-submenu a:hover {
  background-color: #f5f5f5;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }



    .menu {
      display: none;
      position: fixed;
      top: 75px;
      right: 0;
      width: 250px;
      height: calc(100vh - 75px);
      background: rgba(255, 255, 255, 0.9);
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow-y: auto;
    }

    .menu.active {
      display: flex;
    }

    .menu a {
      padding: 15px 0;
      font-size: 18px;
    }

    .submenu {
      position: static;
      display: none;
      background: none;
      box-shadow: none;
      padding: 0;
    }

    .menu a.active .submenu {
      display: block;
    }
  }

