/* Asegura que el body ocupe toda la altura de la pantalla */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el header y footer estén fijos */
  }
  
  main {
    flex-grow: 1; /* Hace que el contenido intermedio ocupe el espacio restante */
  }
  