<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.min.css">

<section class="products">
    <div class="head">
        <h2>Nuevos Productos</h2>
    </div>

    <div class="main bd-grid">

        <!-- Producto 1 -->
        <article class="card">
            <div class="card-img"></div>

            <div class="card-name">
                <p>Camisa Elegante Negra</p>
            </div>

            <div class="card-precis">
                <a href="#" class="card-icon">
                    <i class="ri-heart-line"></i>
                </a>

                <div>
                    <span class="card-preci card-preci-before">$70.000</span>
                    <span class="card-preci card-preci-now">$50.000</span>
                </div>

                <a href="#" class="card-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                </a>
            </div>
        </article>

        <!-- Producto 2 -->
        <article class="card">
            <div class="card-img"></div>

            <div class="card-name">
                <p>Productos economicos</p>
            </div>

            <div class="card-precis">
                <a href="#" class="card-icon">
                    <i class="ri-heart-line"></i>
                </a>

                <div>
                    <span class="card-preci card-preci-before">$70.000</span>
                    <span class="card-preci card-preci-now">$50.000</span>
                </div>

                <a href="#" class="card-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                </a>
            </div>
        </article>

        <!-- Producto 3 -->
        <article class="card">
            <div class="card-img"></div>

            <div class="card-name">
                <p>Productos economicos</p>
            </div>

            <div class="card-precis">
                <a href="#" class="card-icon">
                    <i class="ri-heart-line"></i>
                </a>

                <div>
                    <span class="card-preci card-preci-before">$70.000</span>
                    <span class="card-preci card-preci-now">$50.000</span>
                </div>

                <a href="#" class="card-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                </a>
            </div>
        </article>

        <!-- Producto 4 -->
        <article class="card">
            <div class="card-img"></div>

            <div class="card-name">
                <p>Productos economicos</p>
            </div>

            <div class="card-precis">
                <a href="#" class="card-icon">
                    <i class="ri-heart-line"></i>
                </a>

                <div>
                    <span class="card-preci card-preci-before">$70.000</span>
                    <span class="card-preci card-preci-now">$50.000</span>
                </div>

                <a href="#" class="card-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                </a>
            </div>
        </article>
    </div>
</section>